{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Nivel 3 - Listas y Diccionarios</title>
    <link rel="stylesheet" href="{% static 'Users/css/styles_level2.css' %}">
</head>

<body>

    <div class="contenedor">
        <!-- Instructora -->
        <div class="instructora-imagen">
            <img class="imagen-sobre-video2" src="{% static 'Users/images/instructora/InstructoraParada.png' %}"
                alt="Instructora">
        </div>

        <!-- Fondo -->
        <img class="fondo-imagen" src="{% static 'Users/images/fondos/fondoInstructora.jpg' %}" alt="Fondo">

        <!-- Globo de diálogo -->
        <div class="globo-dialogo" id="globoDialogo">
            <p id="instructorTexto"></p>
        </div>
    </div>

    <textarea id="codigoUsuario" class="area-codigo">
        mochila = ["Pokeball", [COMPLETA]]
        pokemon = {"nombre": [COMPLETA], "tipo": [COMPLETA]}
        </textarea>

    <!-- Botón para evaluar -->
    <button class="boton-evaluar" onclick="evaluarCodigo()">Evaluar Código</button>

    <!-- Resultado del código -->
    <div id="resultado" class="mensaje"></div>
    <!-- Botón para volver al mapa -->
    {% if mostrar_volver %}
    <button id="btnVolverMapa" class="boton-evaluar" onclick="guardarYVolverAlMapa()">
        Volver al mapa
    </button>
    {% else %}
    <button id="btnVolverMapa" class="boton-evaluar" style="display: none;" onclick="guardarYVolverAlMapa()">
        Volver al mapa
    </button>
    {% endif %}

    <!-- Variable global JS -->
    <script>
        const nickName = "{{ nickName|escapejs }}";
    </script>

    <!-- Script del nivel -->
    <script src="{% static 'Users/js/nivel-3.js' %}"></script>

</body>

</html>